.align-d {
    width: 100%;
    height: auto;
    display: flex;
}
  
.align-t {
    text-align: center;
    width: 50%;
}
  
.align-b {
    text-align: center;
    width: 50%;
    height: auto;
    display: block;
}