{% extends 'paginas/modelo.html' %}

{% load static %}
 
{% block conteudo %}
<div class="container ">
    <form method='POST'>
        {% csrf_token %}
        {% for q in perguntas %}
        <div class="form-group">
          <label for="pergunta">{{ q.pergunta }}</label>
        </div>
        <div class="form-check">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ q.pergunta }}" id="{{ q.id }}1" value="{{ q.alternativa_1 }}">
                <label class="form-check-label" for="{{ q.id }}1">
                    {{q.alternativa_1}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ q.pergunta }}" id="{{ q.id }}2" value="{{ q.alternativa_2 }}">
                <label class="form-check-label" for="{{ q.id }}2">
                    {{q.alternativa_2}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ q.pergunta }}" id="{{ q.id }}3" value="{{ q.alternativa_3 }}">
                <label class="form-check-label" for="{{ q.id }}3">
                    {{q.alternativa_3}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ q.pergunta }}" id="{{ q.id }}4" value="{{ q.alternativa_4 }}">
                <label class="form-check-label" for="{{ q.id }}4">
                    {{q.alternativa_4}}
                </label>
            </div>
            <br>
        </div>    
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock %}