{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="row text-center">
    <div>
        <img class="img-fluid float-right" src="{% static 'img/imagem_index.gif' %}">
        <h4 class="pt-3">
            Aprenda a montar e consertar computadores de um jeito interativo e intuitivo. 
            O MyPC é uma plataforma de ensino grátis que tem como objetivo facilitar e deixar 
            mais divertido a educação online!
        </h4>
        <p class="pt-3">Entre ou crie uma conta!</p>
        <a class="btn btn-outline-success" href="{% url 'cadastro' %}">Inscreva-se agora</a>
        <div class="pt-2">
            <a class="btn btn-outline-primary" href="{% url 'login' %}">Já tenho uma conta</a>
        </div>
    </div>
</div>
{% endblock %}

