{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="d-flex justify-content-center">
    <h4 class="border-bottom pb-2 text-center w-50">Iniciante</h4>
</div>
<div class="text-center pt-4">
    <a class="text-dark badge" href="#">
        <img class="rounded-circle" src="{% static 'img/modulo_processador.jpg' %}" style="width: 100px; height: 100px;">
        <h6>Processador</h6>
    </a>
</div>
<div class="text-center pt-4">
    <img class="rounded-circle" src="{% static 'img/modulo_placa-mae_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
    <h6>Placa-Mãe</h6>
</div>
<div class="row pt-4">
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_memoria-ram_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">Memória-RAM</h6>
    </div>
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_hd_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">HD</h6>
    </div>
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_placa-video_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">Placa de Vídeo</h6>
    </div>
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_fonte_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">Fonte</h6>
    </div>
</div>

<div class="d-flex justify-content-center pt-5">
    <h4 class="border-bottom pb-2 text-center w-50 pt-5">Intermediário</h4>
</div>
<div class="text-center pt-4">
    <img class="rounded-circle" src="{% static 'img/modulo_processador_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
    <h6>Processador</h6>
</div>
<div class="text-center pt-4">
    <img class="rounded-circle" src="{% static 'img/modulo_placa-mae_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
    <h6>Placa-Mãe</h6>
</div>
<div class="row pt-4">
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_memoria-ram_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">Memória-RAM</h6>
    </div>
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_hd_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">HD</h6>
    </div>
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_placa-video_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">Placa de Vídeo</h6>
    </div>
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_fonte_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">Fonte</h6>
    </div>
</div>

<div class="d-flex justify-content-center pt-5">
    <h4 class="border-bottom pb-2 text-center w-50 pt-5">Avançado</h4>
</div>
<div class="text-center pt-4">
    <img class="rounded-circle" src="{% static 'img/modulo_processador_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
    <h6>Processador</h6>
</div>
<div class="text-center pt-4">
    <img class="rounded-circle" src="{% static 'img/modulo_placa-mae_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
    <h6>Placa-Mãe</h6>
</div>
<div class="row pt-4">
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_memoria-ram_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">Memória-RAM</h6>
    </div>
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_hd_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">HD</h6>
    </div>
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_placa-video_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">Placa de Vídeo</h6>
    </div>
    <div class="mx-auto">
        <img class="rounded-circle" src="{% static 'img/modulo_fonte_indisponivel.jpg' %}" style="width: 100px; height: 100px;">
        <h6 class="text-center">Fonte</h6>
    </div>
</div>
{% endblock %}